<h3>Categories</h3>

<table class="table table-sm w-50">

    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
        <td><%= link_to 'Destroy', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: "link-danger" %></td>
      </tr>
    <% end %>

</table>
